[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
pymgclient = "*"
networkx = "*"
ipykernel = "*"
spektral = "*"
tensorflow = "==2.18.0"

[dev-packages]

[requires]
python_version = "3.10.0"
